
$card-colors: (
    "discord": #5865f2,
    "reddit": #ff4500,
    "twitter": #1da1f2,
    "dribbble": #ea4c89,
    "youtube": #ff0000,
);

$primary: #ffd166;
$text-light: #eeeeee;
$card-color: white;
$background: #0d1b2a;
$background-light: #1b263b;